<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="main" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="File" value="/duitang/log/usr/sinker/${biz}/main.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="INFO" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    
    <appender name="msgAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="File" value="/duitang/log/usr/sinker/${biz}/msg.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="INFO" />
        <param name="DatePattern" value="'.'yyyyMMddHH'.data'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

	<logger name="msg" additivity="false">  
        <level value="debug" />
    </logger>
    
    <root>
        <priority value="info" />
    </root>
</log4j:configuration>
